.specsWrapper {
  padding: 2rem;
  background-color: var(--c-background);
  color: var(--c-body);
  font-family: var(--fontFamily);
}

.snippetsSection {
  display: grid;
  grid-gap: var(--space-l);
}

.snippetSection {
  display: flex;
  margin-bottom: var(--space-xl);
}

.previewSection {
  border: 1px solid var(--c-border);
  padding: var(--space-l);
  width: 50%;
}

.codeSection {
  background-color: var(--c-overlay);
  padding: var(--space-l);
  overflow: auto;
  width: 100%;
}

.snippetSection.withPreview .codeSection {
  width: 50%;
}

.codeSection code {
  font-family: 'Roboto Mono';
}

.demoSpace {
  background-color: currentColor;
}

.demoSpace + .demoSpace {
  margin-top: var(--space-s);
}

.demoSpace-s { width: var(--space-s); height: var(--space-s); }
.demoSpace-m { width: var(--space-m); height: var(--space-m); }
.demoSpace-l { width: var(--space-l); height: var(--space-l); }
.demoSpace-xl { width: var(--space-xl); height: var(--space-xl); }
.demoSpace-2xl { width: var(--space-2xl); height: var(--space-2xl); }
.demoSpace-3xl { width: var(--space-3xl); height: var(--space-3xl); }
.demoSpace-4xl { width: var(--space-4xl); height: var(--space-4xl); }

.colorBox {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  display: block;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.colorsRow {
  display: grid;
  grid-gap: var(--space-s);
}

.colorBoxWrapper {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--space-s);
  align-items: center;
}