.emailWrapper, .emailWrapper * {
  line-height: var(--globalLineHeight);
}

.emailWrapper {
  font-size: var(--text-s);
  color: var(--c-body);
  font-family: var(--fontFamily);
  display: grid;
  grid-template-columns: 17% 52% calc(100% - 17% - 52%);
  min-height: 100vh;
  background: var(--c-background);
}

.sidebar {
  border-right: 1px solid var(--c-border);
  padding: var(--space-l);
}

.detailsPanel {
  border-left: 1px solid var(--c-border);
  padding: var(--space-xl);
  background-color: var(--c-overlay);
}

main {
  padding: var(--space-xl);
}

.emails {
  border-top: 1px solid var(--c-border);
}

.email {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: var(--space-m) 0;
  border-bottom: 1px solid var(--c-border);
  min-width: 0;
  min-width: 100%;
}

.listCell + .listCell {
  padding-left: var(--space-l);
}

.listCell {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  min-width: 0;
}

.searchSection {
  margin-bottom: var(--space-xl);
}

.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--c-accent);
}

.postAvatar {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: var(--c-accent);
}

.post {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-gap: var(--space-l);
  padding: var(--space-l);
  border-radius: var(--radius);
  background-color: var(--c-overlay);
}

.detailsCard {
  padding: var(--space-l);
  border-radius: var(--radius);
  background-color: var(--c-background); 
}

.menuItem {
  padding: var(--space-s);
  border-radius: var(--radius);
}

.menuItem.active {
  background-color: var(--c-overlay); 
  font-weight: bold;
}

.menuItem:not(.active) {
  cursor: pointer;
  color: var(--c-bodyDimmed);
}

.userCard {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: var(--space-m);
  padding: var(--space-m);
  border-radius: var(--radius);
  background-color: var(--c-background);
  align-items: center;
}

.userCardAvatar {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--c-accent);
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-gap: var(--space-s);
  align-items: end;
}

.tabs {
  display: flex;
}

.tab {
  font-size: var(--text-m);
  border-bottom: 2px solid transparent;
  padding-bottom: 0.2em;
}

.tab:not(.active) {
  cursor: pointer;
  color: var(--c-bodyDimmed);
}

.tab + .tab {
  margin-left: var(--space-l);
}

.tab.active {
  border-color: var(--c-accent);
}

.messageBox {
  padding: var(--space-m);
  border-radius: var(--radius);
  background-color: var(--c-primary-3xlight);
  color: var(--c-primary-xdark);
}

.chartCard {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: var(--space-l);
  border-radius: var(--radius);
  background-color: var(--c-background);
  align-items: center;
}

.chartCard .chart:first-child {
  padding-right: var(--space-m);
}

.chartCard .chart + .chart {
  padding-left: var(--space-m);
  border-left: 1px solid var(--c-border);
}

.chartCard svg {
  display: block;
}

.highlightCard {
  background-color: var(--c-accent);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: var(--space-m);
  padding: var(--space-l);
  border-radius: var(--radius);
  align-items: center;
  color: var(--c-accentContrasted);
}

.highlightCardAvatar {
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.highlightCardAvatars {
  display: flex;
}

.highlightCardAvatar + .highlightCardAvatar {
  margin-left: -2.2rem;
}

.highlightCardAvatar:first-child {
  z-index: 1;
  opacity: 0.2;
}

.highlightCardAvatar:nth-child(2) {
  z-index: 2;
  opacity: 0.5;
}

.highlightCardAvatar:nth-child(3) {
  z-index: 3;
}

@media (max-width: 1100px) {
  .emailWrapper {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: none;
  }
  .detailsPanel {
    width: 100%;
  }
  body {
    overflow-x: hidden;
  }
  .mainLogoSection {
    margin-right: 2rem;
  }

  .snippetSection {
    display: block;
  }
  
  .previewSection, .codeSection {
    width: 100%;
  }
}

.dataNumber {
  text-overflow: ellipsis;
  overflow: hidden;
}
