.textInput {
  padding: calc(var(--textFrameY) - var(--fieldBorderWidth)) var(--textFrameY);
  font: inherit;
  color: inherit;
  border: var(--fieldBorderWidth) solid var(--c-fieldBorder);
  appearance: none;
  border-radius: var(--radius);
  width: 100%;
  background-color: transparent;
}

.textarea {
  border-radius: var(--radius);
  width: 100%;
  border: var(--fieldBorderWidth) solid var(--c-fieldBorder);
  padding: calc(var(--textFrameY) - var(--fieldBorderWidth)) var(--textFrameY);
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.button {
  padding: var(--textFrameY) var(--textFrameX);
  font: inherit;
  border: none;
  background-color: var(--c-grey-2);
  appearance: none;
  border-radius: var(--radius);
  font-weight: 500;
  cursor: pointer;
  color: inherit;
  letter-spacing: 0.03em;
}

.roundButtons .button {
  border-radius: 1000rem;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus);
}

.button-accent {
  background-color: var(--accent);
  color: var(--light);
}

.link {
  color: var(--link);
  text-underline-position: under;
}

.card {
  padding: var(--space-l);
  background-color: white;
  border-radius: var(--radius);
}

.wrapper {
  display: flex;
  padding: 2rem;
  font-size: var(--text-s);
  color: var(--c-grey-8);
  font-family: var(--fontFamily);
  background-color: var(--c-grey-1);
}

.wrapper .column {
  width: 60%;
}

.wrapper .column + .column {
  margin-left: var(--space-l);
  border-radius: var(--radius);
  width: 40%;
}

.distribute > * + * {
  margin-left: var(--space-s);
}

.detailsActions {
  display: flex;
  justify-content: flex-end;
}