*:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--focus);
}

*::selection {
  background-color: var(--focus);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  /* transition: 0.15s; */
  line-height: var(--globalLineHeight);
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.textInput {
  padding: calc(var(--textFrameY) - var(--fieldBorderWidth)) var(--textFrameY);
  font: inherit;
  color: inherit;
  border: var(--fieldBorderWidth) solid var(--c-grey-2);
  appearance: none;
  border-radius: var(--radius);
}

.textInput:focus {
  outline: none;
  border-color: var(--focus);
}

.button {
  padding: var(--textFrameY) var(--textFrameX);
  font: inherit;
  border: none;
  background-color: var(--c-grey-2);
  appearance: none;
  border-radius: var(--radius);
  font-weight: 500;
  cursor: pointer;
  color: inherit;
  letter-spacing: 0.03em;
}

.roundButtons .button {
  border-radius: 1000rem;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus);
}

.button-accent {
  background-color: var(--accent);
  color: var(--light);
}

.link {
  color: var(--link);
  text-underline-position: under;
}

.card {
  padding: var(--space-l);
  background-color: white;
  border-radius: var(--radius);
}

.wrapper {
  display: flex;
  padding: 2rem;
  font-size: var(--text-s);
  color: var(--c-grey-8);
  font-family: var(--fontFamily);
  background-color: var(--c-grey-1);
}

.wrapper .column {
  width: 60%;
}

.wrapper .column + .column {
  margin-left: var(--space-l);
  border-radius: var(--radius);
  width: 40%;
}

.distribute > * + * {
  margin-left: var(--space-s);
}

.limitLineLength {
  max-width: 30em;
}

.mt-s { margin-top: var(--space-s) }
.mt-m { margin-top: var(--space-m) }
.mt-l { margin-top: var(--space-l) }
.mt-xl { margin-top: var(--space-xl) }
.mt-2xl { margin-top: var(--space-2xl) }
.mt-3xl { margin-top: var(--space-3xl) }
.mt-4xl { margin-top: var(--space-4xl) }

.mb-s { margin-bottom: var(--space-s) }
.mb-m { margin-bottom: var(--space-m) }
.mb-l { margin-bottom: var(--space-l) }
.mb-xl { margin-bottom: var(--space-xl) }
.mb-2xl { margin-bottom: var(--space-2xl) }
.mb-3xl { margin-bottom: var(--space-3xl) }
.mb-4xl { margin-bottom: var(--space-4xl) }

.text-xs { font-size: var(--text-xs) }
.text-s { font-size: var(--text-s) }
.text-m { font-size: var(--text-m) }
.text-l { font-size: var(--text-l) }
.text-xl { font-size: var(--text-xl) }