input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.settingsWrapper {
  background-color: #1B1B1B;
  color: white;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.settingsGrid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(6, 1fr);
}

.settingsGridColumnDouble {
  grid-column: 2 / span 2;
}

.settingTextInput {
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0.25rem;
  left: -0.25rem;
  position: relative;
  font: inherit;
}

.settingTextInputSmall {
  max-width: 4rem;
}

.settingsGridColumnTitle {
  margin: 0;
  font-size: 1rem;
}

.triggersColumn {
  border-left: 1px solid hsla(0, 0%, 100%, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
}

.triggerButton {
  background-color: white;
  border: none;
  font: inherit;
  color: #1B1B1B;
  padding: 0.5em 0.8em;
  cursor: pointer;
}

.settingLabel {
  display: block;
  margin-bottom: 0.5rem;
}

.settingLabel, .settingNumberUnit {
  opacity: 0.5;
}

.settingWrapper {
  margin: 1.1rem 0;
}

.settingNumberInputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;
}

.settingIllustration {
  display: block;
}

input[type=range] {
  display: block;
}

.settingIllustrationSection {
  height: 35px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.switchTrack {
  background-color: hsla(0, 0%, 100%, 0.2);
  width: 2rem;
  height: 1rem;
  display: block;
  border-radius: 1rem;
  cursor: pointer;
}

.switchTrack input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.switchTrack input:checked + .switchKnob {
  transform: translate(1rem) scale(0.8);
}

.switchKnob {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transform: scale(0.8);
  transform-origin: center;
  border-radius: 100%;
  display: block;
  background-color: white;
  transition: 0.15s;
}