:root {
  --unit: 0.5rem;

  --spaceIncrement: 1.75;

  --space-s: var(--unit);
  --space-m: calc(var(--space-s) * var(--spaceIncrement));
  --space-l: calc(var(--space-m) * var(--spaceIncrement));
  --space-xl: calc(var(--space-l) * var(--spaceIncrement));
  --space-2xl: calc(var(--space-xl) * var(--spaceIncrement));
  --space-3xl: calc(var(--space-2xl) * var(--spaceIncrement));
  --space-4xl: calc(var(--space-3xl) * var(--spaceIncrement));

  --baseTextSize: 0.95rem;
  --textSizeIncrement: 1.3;

  --text-xs: calc(var(--baseTextSize) / var(--textSizeIncrement));
  --text-s: var(--baseTextSize);
  --text-m: calc(var(--text-s) * var(--textSizeIncrement));
  --text-l: calc(var(--text-m) * var(--textSizeIncrement));
  --text-xl: calc(var(--text-l) * var(--textSizeIncrement));
  
  --textFrameRatio: 1.4;

  --textFrameY: 0.7em;
  --textFrameX: calc(var(--textFrameY) * var(--textFrameRatio));
  
  --radius: 0;

  --fieldBorderWidth: 2px;
  
  --accentHue: 35;
  --accentSaturation: 90%;
  --accentLightness: 40%;
  
  --yellow: hsl(var(--accentHue), var(--accentSaturation), var(--accentLightness));
  --blue: hsl(233, 100%, 42%);
  
  
  --accent: var(--yellow);
  --light: white;
  --link: var(--blue);
  --focus: hsla(233, 100%, 42%, 100%);
  --c-border: hsla(var(--greyHue), var(--greySaturation), var(--grey-8-lightness), 0.1);
  --c-overlay: var(--c-grey-1);

  --greyHue: var(--accentHue);
  --greySaturation: 20%;

  --initialGreyLightness: 93%;
  --greyscaleLightnessIncrement: 11%;

  --grey-1-lightness:  var(--initialGreyLightness);
  --grey-2-lightness:  calc(var(--initialGreyLightness) - var(--greyscaleLightnessIncrement) * 1);
  --grey-3-lightness:  calc(var(--initialGreyLightness) - var(--greyscaleLightnessIncrement) * 2);
  --grey-4-lightness:  calc(var(--initialGreyLightness) - var(--greyscaleLightnessIncrement) * 3);
  --grey-5-lightness:  calc(var(--initialGreyLightness) - var(--greyscaleLightnessIncrement) * 4);
  --grey-6-lightness:  calc(var(--initialGreyLightness) - var(--greyscaleLightnessIncrement) * 5);
  --grey-7-lightness:  calc(var(--initialGreyLightness) - var(--greyscaleLightnessIncrement) * 6);
  --grey-8-lightness:  calc(var(--initialGreyLightness) - var(--greyscaleLightnessIncrement) * 7);
  
  --c-grey-1: hsl(var(--greyHue), var(--greySaturation), var(--grey-1-lightness));
  --c-grey-2: hsl(var(--greyHue), var(--greySaturation), var(--grey-2-lightness));
  --c-grey-3: hsl(var(--greyHue), var(--greySaturation), var(--grey-3-lightness));
  --c-grey-4: hsl(var(--greyHue), var(--greySaturation), var(--grey-4-lightness));
  --c-grey-5: hsl(var(--greyHue), var(--greySaturation), var(--grey-5-lightness));
  --c-grey-6: hsl(var(--greyHue), var(--greySaturation), var(--grey-6-lightness));
  --c-grey-7: hsl(var(--greyHue), var(--greySaturation), var(--grey-7-lightness));
  --c-grey-8: hsl(var(--greyHue), var(--greySaturation), var(--grey-8-lightness));

  --lineHeightFixedAmount: 0.35rem;
  --lineHeightRelativeAmount: 1.1em;
  --globalLineHeight: calc(var(--lineHeightFixedAmount) + var(--lineHeightRelativeAmount));

  --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}